.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.canvas-container {
  width: 700px;
}

.canvas-wrapper {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  border: 5px solid #eee;
  text-align: center;
  font-size: calc(10px + 2vmin);
  height: 500px;
}

.toolkit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}